<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhuvesh.medicalbook">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalBook">
        <activity android:name=".nearbyhospitalfeature.NearByHospitals"
            android:label="Nearby Hospitals"/>
        <activity android:name=".safeentryfeature.SafeEntry"
            android:label="Safe Entery"/>
        <activity android:name=".medicalrecordfeature.EditRecord" />
        <activity android:name=".yogainstructorfeature.YogaDetailActivity" />
        <activity android:name=".yogainstructorfeature.YogaInstructorActivity"
            android:label="Yoga Instructor"/>

        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".SelectLoginSignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




    <!--- adding code to make child and parent to ease the navigation-->
        <activity android:name=".medicalrecordfeature.DialyMedicalRecordActivity"
            android:label="Daily Medical Records"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="text/plain"/>

            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>




    </application>

</manifest>